<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="francais, langue, French language, language learning">
    <meta name="description" content="A web application to practice writing French">
    <link rel="stylesheet" href="./styles.css">
    <title>My Daily French Practice</title>
</head>
<body>
    <header>
        <h1 class="masthead">Mon français quotidien</h1>
        <ul id="main-nav">
            
        </ul>
    </header>

    <main id="root">

        <div id="main-content">
            
            <section id="blog-container">
                <article class="blogs" >
                    <h2 class="section-title">Blogs</h2>
                    <div class="blog" v-for="blog in blogs" v-if="!blog.draft">
                        <h3 class="blog-title">{{blog.title}}</h3>
                        <div class="blog-content" v-html="blog.content">
                        </div>
                        <p class="blog-date">{{blog.postedOn}}</p>
                    </div>
                </article>
            </section>
            <section id="fweet-container">
                <h2 class="section-title">Fweets</h2>
                <article class="fweet" v-for="fweet in fweets">
                    <p>{{fweet.content}}</p></article>
            </section>

           
        </div>

        <footer>
            <p>&copy; Anil Bhattarai, 2019 - {{ new Date().getFullYear() }}. All Rights Reserved.</p>
        </footer>
    </main>
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
    <script src="./js/app.mjs" type="module" ></script>
</body>
</html>