*, *::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    line-height: 1.6;
}
body{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
}
header{
    text-align: center;
    padding-top: 20px;
    background-image: linear-gradient(to right, rgb(190, 182, 207), rgb(217, 189, 243));
}
.masthead{
    color: rgb(36, 3, 49);
    font-size: 24px;
    font-weight: 500;
}
.masthead::after{
    content: "learn a new language, expand your world";
    display: block;
    font-size: 12px;
    color: rgb(99, 73, 7);
    padding: 5px 0;
    font-style: italic;
    font-weight: 400;
}
#main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-nav li{
    list-style-type: none;
    padding: 5px 12px;
    cursor: pointer;
    color: white;
}
#root{
    width: 100%;
}
#main-content{
    display: grid;
    grid-template-columns: auto;
    padding: 20px 0;
}
#blog-container, #fweet-container{
    

}
#fweet-container{
    background: rgb(239, 233, 240);
    padding: 0 10px;
    height: 100vh;
    box-shadow: 0 0 1px rgb(63, 61, 61);
}
.section-title{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(68, 8, 68);
}
.fweet{
    opacity: .8;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    margin: 20px auto;
    padding-bottom: 10px;
    font-style: italic;
    cursor: pointer;
}
.fweet:hover{
    transform: scale(1.02);
}
.blog{
    border-bottom: 1px solid lightgray;
    box-shadow: 0 0 1px lightgray;
    padding: 10px;
    margin-bottom: 10px;
    
}
.blog-title{
    padding-bottom: 10px;
}
.blog-content{
    padding: 10px 0;
    color: rgb(75, 72, 72);
    font-size: 15px;
}
.blog-content img{
    display: block;
    width: 100%;
    margin: 5px auto;
    transition: 300ms ease-in-out;
    border: 1px solid lightgray;
    padding: 4px;
}

.blog-content figcaption{
    font-size: 13px;
    font-style: italic;
    opacity: .7;
    padding: 5px 0;
}
.blog-date{
    opacity: .5;
    font-style: italic;
    font-size: 13px;
    padding-bottom: 10px;
}


footer{
    font-size: 14px;
    text-align: center;
    opacity: .7;
}
@media (min-width: 650px){
    #main-content{
        grid-template-columns:1fr 200px;
        grid-gap: 10px;
    }
}