*, *::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
header{
    text-align: center;
    padding-top: 20px;
    background-image: linear-gradient(to right, rgb(197, 182, 207), rgb(202, 173, 230));
}
.masthead{
    /* color: yellow; */
    font-size: 24px;
}
.masthead::after{
    content: "learn a new language, expand your world";
    display: block;
    font-size: 11px;
    color: gray;
    padding: 5px 0;
    font-style: italic;
}
#main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-nav li{
    list-style-type: none;
    padding: 5px 12px;
    cursor: pointer;
    color: white;
}
#root{
    width: 100%;
    padding: 0 10px;
}
#main-content{
    display: grid;
    grid-template-columns: auto;
    padding: 20px 0;
}
#blog-container, #fweet-container{
    

}
#fweet-container{
    
}
.fweet{
    opacity: .8;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    margin: 20px auto;
    padding-bottom: 10px;
    font-style: italic;
}
.blog{
    border-bottom: 2px solid lightgray;
    
}
.blog-content img{
    display: block;
    width: 100%;
    margin: auto;
}
.blog-content figcaption{
    font-size: 13px;
    font-style: italic;
    opacity: .7;
    padding: 5px 0;
}

.lesson-title{
    text-align: center;
}
.lesson-box{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 340px;
    background:navy;
    margin: 10px auto;
}
.lesson-box .english{
    position: absolute;
    top: 5px;
    left: 5px;
}
.prev-item, .next-item{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 5px;
    cursor: pointer;
}
.prev-item{
    left: 5px;
}
.next-item{
    right: 5px;
}
.nepali{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
    font-size: 48px;
    padding-top: 24px;
}

footer{
    font-size: 14px;
    text-align: center;
    opacity: .7;
}
@media (min-width: 650px){
    #main-content{
        grid-template-columns:1fr 200px;
        grid-gap: 10px;
    }
}